<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bucket List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Bucket List </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="Menu">
              <ul class="nav navbar-nav navbar-pills">
                  <li><a href="showBucketListView">My Bucket List</a></li>
                  <li class="active"><a href="showBucketListEdit">My Bucket List Management</a></li>
              </ul>
              <div class="navbar-right">
                  <ul class="nav navbar-nav" id="nav-not-logged-in">
                    <li><a href="showSignIn">Sign In</a></li>
                    <li><a href="showSignUp">Sign Up</a></li>
                  </ul>
                  <ul class="nav navbar-nav" id="nav-logged-in">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              <span class="glyphicon glyphicon-user"></span>
                              <span class="bl_user">User</span>
                              <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li class="log-out"><a href="#"><span class="glyphicon glyphicon-log-out"> Sign Out</span></a></li>
                              <li><a href="#"><span class="glyphicon glyphicon-cog"> Setting</span></a></li>

                          </ul>

                      </li>
                  </ul>

              </div>

          </div>
        </nav>
    </header>
    <div id="main" class="container">
        <h1>My Bucket List</h1>
        <div class = "bl_categories_edit">


          <div class="list-group">
            <a aria-controls="bl1" aria-expanded="false" class="list-group-item " data-toggle="collapse" href="#bl1">Sports</a>
            <div class="collapse" id="bl1">
              <div class="well">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Activity</th>
                      
                      <th>Status</th>
                      <th>Period</th>
                      <th>Actions</th>
                      

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mountain Climbing</td>
                      <td>Done</td>
                      <td>31 Aug 2017</td>
                      <td>
                        <a class="btn btn-default btn-sm"><span class="glyphicon glyphicon-check"></span>Done</a>
                        <a class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                        <a class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Mountain Climbing</td>
                      <td>Done</td>
                      <td>31 Aug 2017</td>
                      <td>
                        <a class="btn btn-default"><span class="glyphicon glyphicon-check"></span>Done</a>
                        <a class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                        <a class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <a aria-controls="bl2" aria-expanded="false" class="list-group-item " data-toggle="collapse" href="#bl2">Sports</a>
            <div class="collapse" id="bl2">
              <div class="well">
                Item 1
              </div>
            </div>
            <a aria-controls="bl3" aria-expanded="false" class="list-group-item " data-toggle="collapse" href="#bl3">Sports</a>
            <div class="collapse" id="bl3">
              <div class="well">
                Item 1
              </div>
            </div>
              <a aria-controls="bl_new" data-toggle="collapse" aria-expanded="false" href ="#bl_new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add new category </a>
                <div class="collapse" id="bl_new">
                    <div class="well">
                        <form action="" class="form-inline">
                            <input class="form-control" type="text" name="bl_new_name" id="">
                            <input type="submit" class="btn btn-success" value="Add Category">
                        </form>
                    </div>
                </div>
          </div>
          
        </div>
    </div>
    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/default.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>